<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Inicio de sesión</title>
    
    <link rel="stylesheet" href="../../css/estiloLogin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script SRC="../../js/miAplicacion.js" TYPE="text/javascript"</script>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    
  </head>

  <body ng-app="CursoIngresoJS" ng-controller="controlLogin">
    
    <div class="login">
      <header class="login-header"><span class="text">LOGIN</span><span class="loader"></span></header>
      
      <form class="login-form" id="formLogin" name="formLogin">
        <input type="text" placeholder="Nombre" class="login-input" ng-model="usuario.nombre" value="" required/>
        <input type="password" placeholder="Contraseña" class="login-input" ng-model="usuario.password" value="" required/>
        <button class="login-btn" ng-disabled="formLogin.$invalid" ng-click="Loguearse()" >login</button>
        <br><br><a class="linkRegistro" href="../Register/register.html">¿No posee una cuenta? Regístrese</a>
      </form>

    </div>
  
  </body>
</html>